html {
  background-color: black;
  color: white;
}

#logo {
  padding-left: 10px;
  height: 50px;
  position: left;
  display: inline-flex;
  float: left;
}

li {
  display: inline;
  position: right;
  float: right;
  margin-right: auto;
  padding: 5px;
  box-sizing: border-box;
  text-decoration: underline;
  color: gray;
}

.mission {
  height: 700px;
  position: relative;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 69px;
  border-top: 1px seashell;
}

.mission-text {
  position: relative;
  text-align: center;
}

/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
}

/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.tea-of-the-month {
  position: relative;
  text-align: center;
}
