html {
  background-color: black;
  color: white;
  max-width: 100%;
  font-family: helvetica;
  font-size: 22px;
}

.logo {
  padding-left: 10px;
  height: 50px;
  position: left;
  display: inline-flex;
  float: left;
}

header {
  border-bottom: seashell;
  width: 100%;
  padding-top: 10px;
  height: 69px;
  display: block;
  background-color: black;
  position: fixed;
  top: 0px;
  border-bottom: 1px solid seashell;
  overflow: hidden;
  z-index: 1000;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.container {
  color: gray;
  text-decoration: underline;
  box-sizing: border-box;
}

li {
  display: inline;
  float: right;
  margin-right: auto;
  padding: 5px;
  padding-right: 20px;
  box-sizing: border-box;
  text-decoration: underline;
  color: gray;
}

ul a {
  color: white;
}

ul li {
  padding: 5px;
  margin-left: 10px;
  margin-right: 10px;
}

ul li:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  height: calc(100vh - 50px);
  width: 100%;
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.mobile-menu li {
  margin-bottom: 10px;
}

#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

@media only screen and (max-width: 600px) {
  header nav {
    display: none;
  }

  #hamburger-icon {
    display: block;
  }
}

.mission {
  height: 700px;
  width: 1200px;
  position: relative;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px seashell;
  padding-top: 100px;
  padding-bottom: 50px;
  max-width: 100%;
  max-height: 100%;
}

.mission-text {
  position: relative;
  text-align: center;
  max-width: 100%;
  max-height: 100%;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  background-color: black;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}
.tea-of-the-month {
  position: relative;
  text-align: center;
}

.tea-month {
  width: 300px;
  height: 200px;
  display: inline;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

figure {
  display: inline-block;
}

figcaption {
  text-align: center;
  padding-top: 10px;
}

.loc-container {
  height: 500px;
  max-width: 1200px;
  margin: 40px auto 40px auto;
  padding-top: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("img-locations-background.jpg");
  background-size: cover;
}

.section-head {
  text-align: center;
  font-size: 43px;
  font-weight: bold;
}
.location-box {
  max-width: 1050px;
  margin: 15px auto auto auto;
  display: flex;
  justify-content: space-between;
}
.location {
  width: 300px;
  margin-bottom: auto;
  box-sizing: border-box;
  padding: 20px;
  background-color: black;
  opacity: 1;
  flex-basis: 30%;
  text-align: center;
}

.location:hover {
  cursor: pointer;
}

.contact {
  text-align: center;
}

footer {
  text-align: left;
  padding-left: 20px;
}
a:hover {
  background-color: blueviolet;
  cursor: pointer;
}

a:link {
  color: blue;
}

a:visited {
  color: blueviolet;
}

a:active {
  color: red;
}
