html {
  background-color: black;
  color: white;
}

#logo {
  padding-left: 10px;
  height: 50px;
  position: left;
  display: inline-flex;
  float: left;
}

header {
  border-bottom: seashell;
  padding-bottom: 69px;
}

.site-nav-link {
  color: gray;
  text-decoration: underline;
  box-sizing: border-box;
}

li {
  display: inline;
  float: right;
  margin-right: auto;
  padding: 5px;
  box-sizing: border-box;
  text-decoration: underline;
}

.mission {
  height: 700px;
  position: relative;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px seashell;
}

.mission-text {
  position: relative;
  text-align: center;
}

/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-direction: column;
  background-color: black;
  align-items: center;
}
.tea-of-the-month {
  position: relative;
  text-align: center;
  
}

.tea-month {
  width: 300px;
  height: 200px;
  display: inline;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

figure {
  display: inline-block;
}

figcaption {
  text-align: center;
  padding-top: 10px;
}

.location {
  height: 400px;
  width: 400px;
  position: relative;
}
.location-img {
  position: absolute;
  left: 0;
  top: 0;
}
.location-text {
  z-index: 100;
  position: absolute;
  left: 150px;
  top: 350px;
}
a:hover {
  background-color: blueviolet;
}
